@import "../../app.scss";

.about {
  display: flex;
  justify-content: center;

  @include mobile {
    flex-direction: column;
  }

  .left {
    flex: 0.5;
    position: relative;

    @include mobile {
      flex: 0.3;
    }

    .card.bg {
      position: absolute;
      top: 50px;
      left: 50px;
      background-color: var(--Green);

      @include mobile {
        top: 0px;
        left: 15%;
      }
    }

    .card {
      width: 60%;
      height: 60vh;
      border-radius: 30px;
      position: absolute;
      top: 100px;
      left: 100px;
      overflow: hidden;

      .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      @include mobile {
        height: 80%;
        top: 20px;
        left: 20%;
      }
    }
  }

  .right {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 50px;

    @include mobile {
      flex: 0.6;
    }

    .title {
      margin-bottom: 70px;
      font-size: 25px;
      font-weight: 600;
      text-decoration: underline var(--Green);

      @include mobile {
        font-size: 20px;
        margin-bottom: 20px;
      }
    }
    .desc {
      align-items: center;
      justify-content: center;

      .about0 {
        font-size: 16px;
        font-weight: 400;
        padding: 10px;
        word-break: normal;
        width: fit-content;

        @include mobile {
          font-size: 12px;
          font-weight: 300px;
          padding: 5px;
        }

        span {
          color: var(--Green);
          font-weight: bold;
        }
      }
    }

    .btnContainer {
      margin-top: 30px;
      height: 70px;
      text-align: center;
      align-items: center;
      justify-content: center;

      @include mobile {
        display: flex;
        justify-content: center;
        height: 50px;
        width: 100%;
      }

      .btnContact {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 180px;
        height: 90%;
        border: 2px solid var(--Green);
        background-color: var(--Blue);
        transition: 0.2s ease-in-out;
        cursor: pointer;
        border-radius: 10px;
        gap: 10px;

        font-size: 14px;
        font-weight: 500;
        padding: 10px;

        @include mobile {
          font-size: 14px;
          font-weight: 400;
          padding: 0px;
        }

        &:hover {
          width: 190px;
          height: 95%;
        }

        .iconSend {
          font-size: 20px;
        }
      }
    }
  }
}
