:root {
  --Blue: #6e57e0;
  --Green: #57e089;
  --Dark: #191627;
}

.a {    
  display: flex;
  align-items: center;
}

.left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-right: 50px;
}

.card.bg {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: var(--Blue);
}

.card {
  width: 60%;
  height: 70vh;
  border-radius: 30px;
  position: absolute;
  top: 120px;
  left: 120px;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.focus{
  color: var(--Green);
  font-weight: bold;
}

.title {
  font-weight: 600;
  margin-bottom: 50px;
}

.about0 {
    margin-bottom: 30px;
    font-size: 20px;
}



.btnContainer {
  height: 100px;
  
}

.btnContact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 70px;
  border: 2px solid var(--Green);
  background-color: var(--Blue);;
  color: white;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  font-weight: bold;
  border-radius: 8px;
  gap: 10px;
  font-size: 20px;
  padding: 10px;
}

.iconSend {
  font-size: 30px;
}

.btnContact:hover {
  width:240px;
  height: 80px;

}


