@import "../../app.scss";

.Container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;

  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
  transition: all 1s ease-out;

  .Wrapper {
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    // justify-content: center;
    align-items: center;

    .Logo {
      font-size: 30px;
      font-weight: 500;
      color: var(--Blue);
      cursor: pointer;

      span {
        color: var(--Green);
      }
    }

    .Right {
      .Menu {
        list-style: none;
        display: flex;

        @include mobile {
          display: none;
        }

        .MenuItems {
          cursor: pointer;
          margin-left: 50px;
          text-decoration: none;
          color: gray;
          width: 100px;
          text-align: center;
          font-size: 20px;

          .item {
            text-decoration: none;
            color: gray;

            &:hover {
              color: white;
            }
          }
          .active {
            color: white;
          }
        }
      }
    }
  }
}

.ham-menu {
  display: none;

  @include mobile {
    display: flex;
    font-size: larger;
  }
}

.side-menu {
  display: none;
}

.active {

  .side-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    position: absolute;
    top: 70px;
    right: 0px;
    width: 300px;
    height: calc( 100vh - 70px );
    z-index: 2;
    border-left: 5px solid var(--Green);

    background-color: var(--Dark);

    @include mobile {
      width: 250px;
      justify-content: center;
    }


    .side-menu-list {
      margin: 30px;
      width: 100%;
      height: 50px;
      text-align: center;
      display: flex;
      align-items: center;
    justify-content: center;
    @include mobile {
      margin-bottom: 40px;
      height: 30px;
    }

      .side-item {
        text-decoration: none;
        font-weight: 500;
        font-size: 25px;

        @include mobile {
          font-weight: 400;
        font-size: 20px;
        }

      }
    }
  }
}


