:root {
  --Blue: #6e57e0;
  --Green: #57e089;
  --Dark: #191627;
}

.Container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 2;
}

.Wrapper {
  display: flex;
  padding: 10px 50px;
  align-items: center;
  justify-content: space-between;
}

.Logo {
  font-size: 30px;
  font-weight: 500;
  color: inherit;
  cursor: pointer;
}


.Right {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: end;
}

.Menu {
  display: flex;
  font-size: 20px;

  @media only screen and (max-width:768px) {
    display: none;
  }
}

a {
  text-decoration: none;
  font-family: inherit;
  color: gray;
}



.MenuItems {
    list-style: none;
    margin-right: 30px;
    font-weight: bold;
    cursor: pointer;
}

.active {
  color: white;
}
  

.Button {
  border: 1px solid blue;
  padding: 10px 15px;
  background-color: blue;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}